<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <a class="navbar-brand" href="#">AskMe</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <button class="btn btn-outline-success" type="submit">Ask</button>

            <div class="d-flex gap-3">
              <img src="qqq.jpg" alt="Avatar" class="img_thumbnail">
              <div >
                <div>
                  Username
                </div>
                <a href="#">settings</a>
                <a href="#">log out</a>
              </div>
            </div>
          </div>
        </div>
    </nav>

    <main class="container mt-3">
      <div class="d-flex gap-3 align-items-center">
        <h1>New Question</h1>
      </div>

      <div class="row mt-3">
        <div class="col-8">
          <form action="#">
              <div class="form-floating mb-3">
                <textarea class="form-control" maxlength="50" placeholder="Leave a title here" id="title" style="height: 50px"></textarea>
                <label for="title">Title</label>
              </div>
              <div class="form-floating mb-3">
                <textarea class="form-control" maxlength="400" placeholder="Leave a text here" id="text" style="height: 300px"></textarea>
                <label for="text">Text</label>
              </div>
              <div class="form-floating is-invalid">
                <input type="text" class="form-control is-invalid" id="tags" placeholder="Tags" required>
                <label for="tags">Tags</label>
              </div>
              <div class="invalid-feedback">
                Please enter 3 tags.
              </div>
              <button type="submit" class="btn btn-outline-success mt-3">Ask</button>
            </form>
        </div>

        <div class="col">
          <section class="mb-3">
            <h2>Popular tags</h2>
            <div class="popular_tags">
                <span class="badge text-bg-success"><a href="#">tag 1</a></span>
                <span class="badge text-bg-danger"><a href="#">tag 2</a></span>
                <span class="badge text-bg-warning"><a href="#">tag 3</a></span>
                <span class="badge text-bg-info"><a href="#">tag 4</a></span>
                <span class="badge text-bg-light"><a href="#">tag 5</a></span>
                <span class="badge text-bg-dark"><a href="#">tag 6</a></span>
                <span class="badge text-bg-success"><a href="#">tag 7</a></span>
                <span class="badge text-bg-danger"><a href="#">tag 8</a></span>
                <span class="badge text-bg-warning"><a href="#">tag 9</a></span>
                <span class="badge text-bg-info"><a href="#">tag 10</a></span>
                <span class="badge text-bg-light"><a href="#">tag 11</a></span>
                <span class="badge text-bg-dark"><a href="#">tag 12</a></span>
            </div>
          </section>
          <section>
            <h2>Best members</h2>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
                <li class="list-group-item"><a href="">Member</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>

    </main>

    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>